*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    background-color: #0F1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    background-image: url("Amazon-Emblem.jpg");
    background-size:cover;
    height: 50px;
    width:100%;
      border:1.5px solid transparent; 
}

.navlogo{
    height:50px;
    width:100px;
   
}
 .logo:hover{
    border:1.5px solid white;
}  
.s{
    font-size:0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.t{
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display:flex;
}
.adress{
    margin-left:  15px;
   border:1.5px solid transparent;
}
.adress:hover{
    border:1.5px solid white;
}  
.icon{
    background-color: #febd68;
    display: inline;
    display: flex;
   width:45px;
   justify-content: center;
   align-items: center;
   font-size:1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}
.spt{
    display: flex;
    justify-content: space-evenly;
      width:620px;
    height:40px;
    border-radius: 4px;
      border:1.5px solid transparent; 
}
.select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search{
    width:500px;
    font-size:1rem;
    border:none;
}
.spt:hover{
    border:1.5px solid orange;
}  
.a{
    font-size: 0.7rem;
}
.b{
    font-size: 0.85rem;
    font-weight:700 ;
}
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700;
      border:1.5px solid transparent; 
}
.cart:hover{
    border:1.5px solid white;
}  
.panel{
    display: flex;
    background-color:#222f22 ;
    height: 40px;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

/* .panel-all{
    display: flex;
    display: inline;
   
} */
.opt p{
    display: inline;
  
   
  margin-left: 15px;
}
.opt {
    width: 70%;
     display: flex;
    font-size: 0.85rem;
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: flex-end;
     justify-content: center;
}
.heromsg{
    background-color: WHITE;
    color: black;
    height:40px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;
}
.heromsg a{
    color:#007185;
}
.box1{
    height:400px;
    /* border:2px solid black; */
    width:23%;
       background-color: #ffffff;
       margin-top: 1rem;
       margin-bottom: 1rem;;
   
}
.box2{
    height:400px;
    border:2px solid black;
     width:23%;
        background-color: white;
}
.box3{
    height:400px;
    border:2px solid black;
     width:23%;
        background-color: white;
}
.box4{
    height:400px;
    border:2px solid black;
     width:23%;
     background-color: white;
}
.shop{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(37, 36, 36, 0.537);
}
.image{
    background-image: url("box1.jpg");
    background-size: cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content{
    margin-left: 1rem;
    margin-right: 1rem;
 
}
p{
     color:#007185;
}
 .foot-panel1{
background-color: #37475a;
display: flex;
align-items: center;
justify-content: center;
color: white;
height:50px;
font-size: 0.85rem;
}
footer{
    margin-top: 15px;;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}
ul p{
    margin-top: 10px;
    color:white;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color:#222f3d ;
    color: white;
    border: 0.5px solid transparent;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo3{
      background-image: url("Amazon-Emblem.jpg");
      background-size: cover;
      height:50px;
      width: 100px;
}
.foot-panel4{
    background-color:#0f1111 ;
    color: white;
    height: 80px;
     font-size: 0.7rem;
    text-align:center;
}
.pages{
   
    padding-top:25px;
}
.copyright{
   
     padding-top:5px;
}
